VITE_SUPABASE_URL=https://xrwsgrulzlwnljsczlbo.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_QavxFFdvSFAX0A4VWFunwg_VuHaaQGk
VITE_ESCROW_CHAIN_ID=11155111
VITE_ESCROW_CHAIN_NAME=Sepolia
VITE_ESCROW_NATIVE_SYMBOL=ETH
VITE_ESCROW_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
VITE_ESCROW_RUB_PER_NATIVE=500000
